/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.container {
  display: flex;
  justify-content: center;
}

.space {
  margin: auto;
  width: 35vw;
  height: 35vw;
}

.cannot {
  background-image: url(/cannot.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding-top: 50px;
}

.hot .sky {
  background-image: linear-gradient(red, yellow);
}

.hot .space {
  background-image: url(/hot.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.warm .sky {
  background-image: linear-gradient(gold, lightblue);
}

.warm .space {
  background-image: url(/warm.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cold .sky {
  background-image: linear-gradient(blue, white);
}

.cold .space {
  background-image: url(/cold.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rain .sky {
  background-image: linear-gradient(darkblue, lightblue);
}

.rain .space {
  background-image: url(/wet.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.drizzle .sky {
  background-image: linear-gradient(lightblue, grey);
}

.drizzle .space {
  background-image: url(/wet.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.thunderstorm .sky {
  background-image: linear-gradient(blue, purple);
}

.thunderstorm .space {
  background-image: url(/wet.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.snow .sky {
  background-image: linear-gradient(white, grey);
}

.snow .space {
  background-image: url(/snow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.windy .sky {
  background-image: linear-gradient(white, lighblue);
}

.windy .space {
  background-image: url(/windy.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
