/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.container {
  display: flex;
  justify-content: center;
}

.space {
  margin: auto;
  width: 35vw;
  height: 35vw;
}

.hot .sky {
  background-image: linear-gradient(red, yellow);
}

.hot .space {
  background-image: url(/hot.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.warm .space {
  background-image: url(/warm.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.warm .sky {
  background-image: linear-gradient(gold, lightblue);
}

.cold .sky {
  background-image: linear-gradient(blue, white);
}

.cold .space {
  background-image: url(/cold.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rain .sky {
  background-image: linear-gradient(darkblue, lightblue);
}

.rain .space {
  background-image: url(/wet.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.snow {
  background-image: linear-gradient(grey, white);
}

.clouds {
  font: #f2f4f4;
}

.windy {
  font: #eaf2f8;
}
