/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.pic {
  margin: auto;
  max-width: 40%;
  max-height: 40%;
}

.hot {
  background-color: #ff5722;
}

.warm {
  background-color: #ffd54f;
}

.cold {
  background-color: #96ccff;
}

.thunderstorm,
.drizzle,
.rain {
  font: #5d6d7e;
}

.snow {
  font: #fdfefe;
}

.clouds {
  font: #f2f4f4;
}

.windy {
  font: #eaf2f8;
}
