/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.container {
  display: flex;
  justify-content: center;
}

.pic {
  margin: auto;
  max-width: 40%;
  max-height: 40%;
}

.hot {
  background-color: #ff5722;
}

.warm {
  background-image: url(/warm.png), linear-gradient(gold, lightblue);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

.cold {
  background-color: #96ccff;
}

.thunderstorm,
.drizzle,
.rain {
  font: #5d6d7e;
}

.snow {
  font: #fdfefe;
}

.clouds {
  font: #f2f4f4;
}

.windy {
  font: #eaf2f8;
}
